#site-footer {
  padding:20px;
}
#site-footer .container {
  margin-top:20px;
}
.pagination ul > li > span > i[class^="icon-"],
.pagination ul > li > span > i[class*="icon-"] {
  line-height: 18px;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-unit {
    padding: 20px 10px;
    margin: 0 -10px;
  }
  .hero-unit h1 {
    font-size: 38.5px;
  }
}
