header a.brand, h2 {
  font-family: serif;
}
h1 {
  font-family: serif;
  color: #9d261d;
  text-shadow: #DDD 1px 1px, #DDD 2px 2px;
}
/*[itemtype="http://schema.org/Organization"] [itemprop~="name"]*/
div.hero-unit h1 {
  font-family: serif;
  color: #9d261d;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #777 1px 1px, #777 2px 2px;
}
h1 i {
  text-transform: none;
  font-style: italic;
}
#site-footer {
  padding:20px;
}
#site-footer .container {
  margin-top:20px;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .hero-unit {
    padding: 20px 10px;
    margin: 0 -10px;
  }
  .hero-unit h1 {
    font-size: 38.5px;
  }
}
