---
    layout: default
---
{% assign previous_category = '' %}
{% for category in page.categories %}
{% capture previous_category %}{{ previous_category }}/{{ category }}{% endcapture %}
{% if forloop.first %}<ul class="breadcrumb" itemprop="breadcrumb">{% endif %}
  <li>
  {% capture rdx %}{{ forloop.rindex }}{% endcapture %}
    <a href="{{ previous_category }}">{{ category }}</a>
    <span class="divider">/</span>
  </li>
{% if forloop.last %}
  <li class="active">{{ page.title }}</li>
</ul>
{% endif %}
{% endfor %}
<p>
    Posted {{ page.date | date_to_string }}
    by <a href="{{ site.author.url }}">{{ site.author.name }}</a>
</p>
{% for tag in page.tags %}
{% if forloop.first %}<nav class="keywords" itemprop="keywords">{% endif %}
<span class="badge">{{ tag }}</span>
{% if forloop.last %}</nav>{% endif %}
{% endfor %}

{{ content }}

<div id="disqus_thread"></div>
<script>
var disqus_shortname='{{ site.disqus.shortname }}'
, disqus_identifier='{{ page.date | date: "%Y%m%d" }}'
, disqus_url='{{ site.url }}{{ page.url }}';
(function(d, t){
  var dsq=d.createElement('script');
  dsq.type='text/javascript';
  dsq.async=true;
  dsq.src='http://'+disqus_shortname+'.disqus.com/embed.js';
  (d[t]('head')[0]||d[t]('body')[0]).appendChild(dsq);
})(document, 'getElementsByTagName');
</script>
<noscript>
  Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
